body {
    background-color:dimgrey;
    color: #ffff;

}

 img{
     border-radius:4px;
     margin-bottom: 20px;
 }
 .main-container{
     display:flex;
     flex-direction: column;
     justify-content:center; 
     align-items: center;
 }
 .images{
     display:flex;
     flex-direction: column;
 }
 #p-tag {
     color: hotpink;
     text-align: center;
     font-weight: 900;
     font-size: 24px;
 }